{% extends "portfolio_app/base_template.html" %} 

  

<!-- Replace block content in base_template.html --> 

{% block content %} 
<body>
    <h1>Create Project</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="title"><strong>Title:</strong></label><br>
        <input type="text" id="title" name="title" value="{{ project.title }}" required><br>
        <label for="description"><strong>Description:</strong></label><br>
        <textarea id="description" name="description" style="width: 300px; height: 150px;">{{ project.description }}</textarea><br>
        <button type="submit">Create Project</button>
    </form>
</body>
</html>
{% endblock %} 

