<!--inherit from base.html 

displays student details such as name, email, major, and the ability to view or update a portfolio --> 

{% extends "portfolio_app/base_template.html" %} 

  

<!-- Replace block content in base_template.html --> 

{% block content %} 

    <h1>Student Name: {{ student.name }}</h1> 

    <p><strong>Email:</strong> {{ student.email }}</p> 

    <p><strong>Major:</strong> {{ student.major }}</p> 

    <p><strong>Portfolio: </strong> 

       

<button onclick="document.location='{{ student.portfolio.get_absolute_url }}'">{{ student.portfolio.title }}</button> 

<button onclick="document.location='{% url 'portfolio-update' student.portfolio.id %}'">Update</button> 

    </p> 

     

{% endblock %}  