<!-- inherit from base.html-->
{% extends "portfolio_app/base_template.html" %}


<!-- Replace block content in base_template.html -->
{% block content %}
<h1>Computer Science Portfolios</h1>
 <div class="container">
  <div class="row">
    <div class="col-md-4">
      <!---student1 -->
      <h2>student1</h2>
      <p>Portfolio 1 description</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>

    <div class="col-md-4">
      <h2>student2</h2>
      <p>Portfolio 2 description</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>student3</h2>
      <p>Portfolio 3 description</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>


{% endblock %}
